* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(photo/space.jpg);
}
.container {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/* sun */
.sun {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: yellow;
    border-radius: 50%;
    left: 50%;
    margin: 40px 0 0 40px;
}
/* orbits */
.container .mercury {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid transparent;
    border-radius: 50%;
    left: 50%;
    animation: animate 87.91s linear infinite;
}
.container .venus {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 2px solid transparent;
    border-radius: 50%;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    animation: animate 224.7s linear infinite;
}
.container .earth {
    position: absolute;
    width: 350px;
    height: 350px;
    border: 2px solid transparent;
    border-radius: 50%;
    top: -100px;
    left: 50%;
    margin-left: -100px;
    animation: animate 365.26s linear infinite;
}
.container .mars {
    position: absolute;
    width: 450px;
    height: 450px;
    border: 2px solid transparent;
    border-radius: 50%;
    top: -150px;
    left: 50%;
    margin-left: -150px;
    animation: animate 1088s linear infinite;
}
.container .jupiter {
    position: absolute;
    width: 550px;
    height: 550px;
    border: 2px solid transparent;
    border-radius: 50%;
    top: -200px;
    left: 50%;
    margin-left: -200px;
    animation: animate 11086s linear infinite;
}
.container .saturn {
    position: absolute;
    width: 650px;
    height: 650px;
    border: 2px solid transparent;
    border-radius: 50%;
    top: -250px;
    left: 50%;
    margin-left: -250px;
    animation: animate 29046s linear infinite;
}
.container .uranus {
    position: absolute;
    width: 750px;
    height: 750px;
    border: 2px solid transparent;
    border-radius: 50%;
    top: -300px;
    left: 50%;
    margin-left: -300px;
    animation: animate 84001s linear infinite;
}
.container .neptune {
    position: absolute;
    width: 850px;
    height: 850px;
    border: 2px solid transparent;
    border-radius: 50%;
    top: -350px;
    left: 50%;
    margin-left: -350px;
    animation: animate 164079s linear infinite;
}
/* animation */
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* planets */
.container .mercury::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: gray;
    left: 50%;
    top: -7.5px;
    border-radius: 50%;
}
.container .venus::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: conic-gradient(brown,gray);
    left: 50%;
    top: -10px;
    border-radius: 50%;
}
.container .earth::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: conic-gradient(blue,green);
    left: 50%;
    top: -10px;
    border-radius: 50%;
}
.container .mars::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: conic-gradient(red,tan);
    left: 50%;
    top: -10px;
    border-radius: 50%;
}
.container .jupiter::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background: conic-gradient(gray,tan);
    left: 50%;
    top: -17px;
    border-radius: 50%;
}
.container .saturn::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    background: conic-gradient(rgb(180, 167, 167),rgb(160, 113, 52));
    left: 50%;
    top: -17px;
    border-radius: 50%;
}
.container .uranus::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background: conic-gradient(rgb(21, 73, 216),rgb(177, 160, 138));
    left: 50%;
    top: -10px;
    border-radius: 50%;
}
.container .neptune::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background: conic-gradient(rgb(21, 73, 216),rgb(140, 187, 226));
    left: 50%;
    top: -10px;
    border-radius: 50%;
}